name: Main2

on:
  workflow_run:
    workflows: [Main]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo $JSON
        env:
          JSON: ${{ toJSON(github.event) }}
